.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    margin: 3rem 0;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
}

.detail button {
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: 0.1rem white solid;
}

.checkout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.checkout * {
    margin: 0;
    padding: 0;
}
.checkout h2 {
    color: white;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    margin-right: 5rem;
}

@media (max-width: 500px) {
    h1 {
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        margin: 1.5rem 0;
    }

    .detail button {
        margin-bottom: 0.5rem;
    }

    .checkout {
        justify-content: space-between;
    }
    .checkout h2 {
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
    }
}

@media (500px < width < 1000px) {
    h1 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        margin: 2rem 0;
    }

    .detail button {
        margin-bottom: 0.5rem;
    }

    .checkout {
        justify-content: space-between;
    }
    .checkout h2 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
}
