.card {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 70vw;
    background-color: white;
    padding: 3rem 5rem;
    border-bottom: 0.5rem solid #333;
}

.product {
    display: flex;
    align-items: start;
    justify-content: start;
}

.imgContainer {
    height: 30rem;
    width: 30rem;
    margin-right: 8rem;
}

.product img {
    height: 30rem;
    width: 30rem;
    object-fit: scale-down;
}

.product p {
    font-size: 2rem;
    letter-spacing: 0.06rem;
}

.product .title {
    font-weight: 600;
}

.mani {
    display: flex;
    align-items: center;
    margin-top: 26rem;
}
.mani p {
    height: 4rem;
    width: 12rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.mani * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: #333 0.01rem solid;
}

@media (max-width: 500px) {
    .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
        padding: 1.5rem 2.5rem;
        border-bottom: 0.5rem solid #333;
    }

    .imgContainer {
        height: 80px;
        width: 80px;
        margin-right: 0;
    }

    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product img {
        height: 80px;
        width: 80px;
    }

    .product p {
        font-size: 1.2rem;
        letter-spacing: 0.06rem;
    }

    .mani {
        display: flex;
        align-items: center;
        margin-top: 60px;
    }
    .mani p {
        height: 1.5rem;
        width: 4.5rem;
    }
}

@media (500px < width < 1000px) {
    .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
        padding: 1.5rem 2.5rem;
        border-bottom: 0.5rem solid #333;
    }

    .imgContainer {
        height: 200px;
        width: 200px;
        margin-right: 0;
    }

    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product img {
        height: 200px;
        width: 200px;
    }

    .product p {
        font-size: 1.2rem;
        letter-spacing: 0.06rem;
    }

    .mani {
        display: flex;
        align-items: center;
        margin-top: 60px;
    }
    .mani p {
        height: 2rem;
        width: 6rem;
    }
}
